/* Global Variables */
:root {
  --bg-color: black;
  --primary-color: white;
  --content-width: 100%;
}

/* Universal box sizing with inheritance. */
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

header {
  width: var(--content-width);
}

/* Contains the brand and navbar */
.nav-container {
  display: inline-flex;
  flex-flow: row nowrap;
  background-color: gray;
  width: inherit;
  align-items: top;
  position: fixed;
  top: 0;
}

.brand {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-left: 7px;
}

.navbar {
  /* Flexbox configurations */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/* Contains the menu button and navlinks */
.navbar-menu-list {
  display: none;
  list-style: none;
  margin: 0;
}

.menu-list-toggle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.menu-list-toggle .navbar-menu-list {
  display: flex;
  flex-direction: inherit;
}

.navbar-menu-button {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  width: 35px;
}

.menu-button-icon {
  width: 20px;
}

.menu-button-icon div {
  height: 3px;
  background-color: var(--bg-color);
  margin: 4px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px;
  transition: 0.4s;
}

.menu-btn-animate .icon-bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
  transform: rotate (-45deg) translate(-6px, 4px);
}

.menu-btn-animate .icon-bar2 {
  opacity: 0;
}

.menu-btn-animate .icon-bar3 {
  --translate-x: -5px;
  --translate-y: -5px;
  -webkit-transform: rotate(45deg)
    translate(var(--translate-x), var(--translate-y));
  transform: rotate(45deg) translate(var(--translate-x), var(--translate-y));
}

.navbar-menu-list {
  margin-right: 10px;
}

.navbar-menu-list li {
  /* Needed for link animation */
  position: relative;
  padding: 5px;
  float: none;
}

.nav-container a {
  text-decoration: none;
  color: var(--primary-color);
}

.navlink a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gold;
  width: 100%;
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navlink a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section .overlay {
  height: 20px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .navbar-menu-button {
    display: none;
  }

  .navbar-menu-list {
    display: flex;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    --content-width: 1200px;
    max-width: var(--content-width);
    margin: auto;
    border: solid red;
  }
}

/* Desktop */

[data-theme="dark"] {
  --primary-color: black;
  --bg-color: white;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: red;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 1s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 1px;
}

.slider:before {
}
