$num-cols: 2;

.about-container {
  display: grid;
  justify-items: center;
}

.about-container img {
  display: none;
  width: 100%;
}

.about-info {
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-column: span $num-cols;
  align-content: center;
}

.about-info h1 {
  grid-column: span $num-cols;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-info .intro {
  grid-column: span $num-cols;
  margin-bottom: 30px;
}

.about-info p {
  margin: 0 0 5px 0;
}

.about-info .first-col {
  grid-column: span ($num-cols/2);
  font-size: 20px;
}

.about-info .second-col {
  grid-column: span ($num-cols/2);
  color: var(--gray);
}

@media only screen and (min-width: 992px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-container img {
    display: grid;
    grid-column: span ($num-cols/2);
  }

  .about-info {
    grid-column: span 1;
    margin-left: 10px;
  }
}
