.skills-icon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.skills-features-container {
  display: flex;
}

.skills-features-list {
  display: grid;
  grid-template-columns: 9.5em 1fr;
}

.skills-feature {
  padding-left: 2px;
  transition: letter-spacing 0.5s;
}

.skills-feature:hover {
  background-color: gold;
  letter-spacing: 1px;
  color: black;
}

.skills-feature {
  position: relative;
  padding-bottom: 2px;
}

.skills-feature:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0%;
  border-top: 11px solid transparent;
  border-left: 5px solid gold;
  border-bottom: 11px solid transparent;
}

.skills-feature-items {
  display: flex;
  flex-flow: row wrap;
  margin-left: 5px;
  border-left: solid white;
}

.skills-feature-items ul li {
  width: auto;
  border: solid red;
}

.feature-item-list {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  opacity: 1;
  transition: opacity 1s;
  width: inherit;
}

.skills-feature-items ul li ul.feature-item-list li.feature-item {
  margin-left: 20px;
  border-radius: 5px 5px;
  margin-bottom: 2px;
  line-height: 95%;
}

.hidden {
  opacity: 0;
}

.selected {
  background-color: gold;
  color: black;
}

.selected:after {
  @extend .skills-feature:hover::after;
}
